@using Microsoft.AspNetCore.Identity
@{
    ViewData["Title"] = "Home Page";
}

<table class="table">

    <thead>
    <tr>
        <th colspan="3"> Панель инструментов</th>
    </tr>
    </thead>
    <tbody>
    @if (User.IsInRole("Admin"))
    {
        <tr>
            <td><a asp-area="" asp-controller="Address" asp-action="Index">Address</a></td>
            <td>
                <a href="@Url.Action("AddressAdd", "Address")">
                    <img src="@Url.Content("Image/32360.png")"/>
                </a>
            </td>
            <td>Change</td>
        </tr>

        <tr>
            <td><a asp-area="" asp-controller="Course" asp-action="Index">Course</a></td>
            <td>
                <a href="@Url.Action("CourseAdd", "Course")">
                    <img src="@Url.Content("Image/32360.png")"/>
                </a>
            </td>
            <td>Change</td>
        </tr>
        <tr>
            <td><a asp-area="" asp-controller="StudInfo" asp-action="Index">StudInfo</a></td>
            <td>
                <a href="@Url.Action("", "StudInfo")">
                    <img src="@Url.Content("Image/32360.png")"/>
                </a>
            </td>
            <td>Change</td>

        </tr>
        <tr>
            <td><a asp-area="" asp-controller="User" asp-action="Index">Users</a></td>
            <td>
                <a href="@Url.Action("AddUser", "User")">
                    <img src="@Url.Content("Image/32360.png")"/>
                </a>
            </td>
            <td>Change</td>

        </tr>
    }
    @if (User.IsInRole("Moder"))
    {
        <tr>
            <td><a asp-area="" asp-controller="Address" asp-action="Index">Course</a></td>
            <td>Change</td>
        </tr>

        <tr>
            <td><a asp-area="" asp-controller="Course" asp-action="Index">Course</a></td>
            <td>Change</td>
        </tr>
        <tr>
            <td><a asp-area="" asp-controller="StudInfo" asp-action="Index">StudInfo</a></td>
            <td>Change</td>

        </tr>
        <tr>
            <td><a asp-area="" asp-controller="User" asp-action="Index">Users</a></td>
            <td>Change</td>
        </tr>
    }
   @using WebApp.HtmlWebHelpers;
    @if (User.IsInRole("DefaultUser"))
    {
        <tr>
            <td><a asp-area="" asp-controller="Address" asp-action="Index">Address</a></td>
            <td>@Html.GetUserName(User.Identity.Name)</td>
        </tr>
        
        <tr>
            <td><a asp-area="" asp-controller="Course" asp-action="Index">Course</a>
            <td><course></course></td>
        </tr>
        <tr>
            <td><a asp-area="" asp-controller="StudInfo" asp-action="Index">StudInfo</a></td>
        
        </tr>
    }
    
    </tbody>
</table>

