@model BLL.DTO.PizzaDTO

@{
    ViewData["Title"] = "Details";
}

<h4>Pizza</h4>
<hr />
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index">@Html.DisplayNameFor(model => model.Id)</a>
            </th>
            <th>
                <a asp-action="Index">@Html.DisplayNameFor(model => model.Name)</a>
            </th>
            <th>
                <a asp-action="Index">@Html.DisplayNameFor(model => model.Caloric)</a>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Html.DisplayFor(model => model.Id)</td>
            <td>@Html.DisplayFor(model => model.Name)</td>
            <td>@Html.DisplayFor(model => model.Caloric)</td>
        </tr>
    </tbody>
</table>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-outline-dark m-1">Edit</a>
    <a asp-action="Index" class="btn btn-outline-dark m-1">Back</a>
</div>
