<div class="box">
  <div id="content">
    <h1>Список Работников</h1>
    <table class="table">
      <tr>
        <th>Имя</th>
        <th>Зарплата</th>
        <th>Работа</th>
      </tr>
      {{#if employees}}
        {{#each employees}}
          <tr>
            <td>{{this.Name}}</td>
            <td>{{this.Sallary}}</td>
            <td>{{this.Job_Title}}</td>
          </tr>
        {{/each}}
      {{/if}}
      {{#if employee}}
        <tr>
          <td>{{employee.Name}}</td>
          <td>{{employee.Sallary}}</td>
          <td>{{employee.Job_Title}}</td>
        </tr>
      {{/if}}

    </table>
  </div>
</div>
