@using BLL
@model List<StudInfoModel>

@{
    ViewBag.Title = "stud info";
    Layout = "_Layout";
}

<table class="table">
    <thead>
    <tr>
        <th>FirstName</th>
        <th> Таблица StudInfo</th>
    </tr>
    </thead>
    <tbody>
    @foreach (StudInfoModel studInfo in Model)
    {
        <tr>
            <td>
                <div id="container">
                
                    <div class="box" id="stud1">
                        @studInfo.FirstName
                    </div>
                    
                    @*???*@
                    @if (studInfo.FirstName == "Vitalij")
                    {
                        <div class="box">
                            @* <course-list stud="@studInfo"></course-list> *@
                            <course stud="@studInfo"></course>
                        </div>
                    }
                
                </div>
            </td>
            @* <td>@studInfo.FirstName <course stud="@studInfo"></course></td> *@
            @if (User.IsInRole("Admin"))
            {
                <td>
                    @Html.ActionLink("Удалить", "", "StudInfo", studInfo)
                    @Html.ActionLink("Обновить", "", "StudInfo", studInfo)
                </td>
            }
            @if (User.IsInRole("Moder"))
            {
                <td>
                    @Html.ActionLink("Обновить", "", "StudInfo", studInfo)
                </td>
            }
        </tr>
    }
    </tbody>
</table>